package queries

{{range $value:= .}}
type {{$value.QueryName}} struct{
    {{range $field := $value.QueryFields}}
        {{$field.KeyUpperCase}}  {{$field.Type}} `json:"{{$field.KeyLowerCase}}"`
    {{end}}
}

func {{$value.QueryName}}Object(){{$value.QueryName}}{
    return {{$value.QueryName}}{
        {{range $field:=$value.QueryFields}}
            {{$field.KeyUpperCase}}:{{$field.Value}},
        {{end}}
    }
}
{{end}}


